/* Subpage Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #7e0000;
    background-size: cover;
    background-position: center;
    padding-top: 20px; 
    padding-bottom: 20px; 
    height: 150px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    margin: 5px;
    border: 5px solid #7e0000;

}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/american-flag-wave-close-memorial-600nw-1677207535.webp');
    background-size: cover;
    background-position: center;
    z-index: 0;
    background-color: #7e0000; 
}

.background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(126, 0, 0, 0.75); 
    z-index: 1;
}

.header-content {
    position: relative;
    z-index: 2; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000080;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #FFD700;
}

.intro, .final-notes {
    padding: 20px;
    font-size: 24px;
    color: #000080;
    background-color: #f0f0f0;
    border: 7px solid #7e0000; 
    text-align: center; 
    margin: 50px auto 50px; 
    max-width: 80%; 
}

.intro h2 {
    font-size: 32px; 
    color: #000080; 
    text-align: center; 
    margin-top: 0; 
    margin-bottom: 20px; 
}

.intro h3 {
    font-size: 28px; 
    color: #000080; 
    text-align: center; 
    margin-top: 0; 
    margin-bottom: 20px; 
}

.category {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 10px 60px; 
    border: 7px solid #7e0000;
    position: relative;
    overflow: visible; 
}




.category h2 {
    font-size: 36px; 
    font-weight: bold;
    color: #000080; 
    text-align: center; 
    margin: 20px 0; 
}


.category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 0;
    background-color: #f0f0f0;
    border: 2px solid #000080;
    box-sizing: border-box;
}

.image-container {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.category-item img {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.text-content {
    font-size: 24px; 
    width: 40%;
    padding: 20px;
    background-color: #d9d9d9;
    border: 2px solid black;
    box-sizing: border-box;
    margin-left: 30px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 768px) {
    .category-item {
        flex-direction: column;
    }

    .image-container, .text-content {
        width: 100%;
        margin-left: 0;  
    }
}

.category-item:nth-child(odd) {
    flex-direction: row-reverse; 
    .text-content {
        margin-left: 0; 
        margin-right: 30px; 
    }
}

.category-item:nth-child(even) {
    .text-content {
        margin-right: 0; 
        margin-left: 30px; 
    }
}


.line-separator {
    height: 5px; 
    background-color: #000080; 
    margin: 50px 30px; 
}

.text-content strong {
    display: block; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 5px; 
}


.footer {
    background-color: #7e0000; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    font-size: 16px; 
    margin-top: 50px; 
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #000080;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#backToTopBtn:hover {
    background-color: #FFD700;
}
